#logo-font {
  color: Red;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  margin-right: 7rem;
}

#ballpit {
  height:100%;
  position: relative;
  z-index: -1;
}

#future {
  position: absolute;
  color:white;
  z-index: 10;
  top: 25%;
  left: 25%;
  width: 50vw;
  font-size: 5vw;
  font-family: serif;
  font-weight: 600;
  text-shadow:
    -4px -4px 0 Black,
    4px -4px 0 Black,
    -1px 1px 0 Black,
    1px 1px 0 Black;
}


#hours{
  height: 100%;
  position: absolute;
}
#contact{
  height: 80%;
}

#top{
  scroll-behavior: smooth;
}
#arrow-button{
  cursor: default;
  font-size: 3vw;
  color: white;
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: infinite;
}
.fa-angle-down:hover{
  cursor:pointer;
  color: black;
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: infinite;

}
.large-color {
  width: 100%;
  height: 10000px;
  background-image: linear-gradient(red, yellow);
}

.row{
}
.navbar {
  width: 100%;
  opacity: 100;
  z-index: 100;
}
.navbar-nav{
  margin-top: 0%;
}
#nav-link:hover{
 color: red;
}

#pic-text{
  margin-top: 10%;
}
.logo-div {
  margin: 0 0 0 2rem;
}

.top-words {
  font-size: 32px;
  margin-right: 5rem;
  font-family: 'Lato', sans-serif;
}

.image-text {
  position: relative;
  text-align: center;
  color: white;
}

.personal {
  margin: auto;
  margin-top: 125px;
  width: 50%;
  background-color: white;
  text-align: center;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;

}

.face {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 20vw;
  vertical-align: middle;
  display: inline-flex;
}


.personal-h2-1 {
  color: Red;
  font-size: 3vw;
  text-align: left;
  width: 50vw;
  font-family: 'Pacifico', cursive;
  vertical-align: middle;
}

.personal-h2-2 {
  color: white;
  font-size: 3vw;
  text-align: right;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 25vw;
  /* width: 50vw; */
  font-family: 'Pacifico', cursive;
  vertical-align: middle;
}

.bubble {
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 2vw;
}

.carousel-div {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.carousel-control {
  width: 5vw;
}



.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='Red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  width: 5vw;
  height: 5vw;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='Red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  width: 5vw;
  height: 5vw;
}


.carousel-indicators li{
  background-color: red;
  height: 1.5vw;
  width: 4vw;
}

#carouselExampleSlidesOnly {
  margin-left: 25%;
}

.hours {
  width: 100%;
  height: 120%;
  text-align: center;
  font-size: 64px;
  font-family: 'Lato', sans-serif;
  background-color: lightgray;
  position: absolute;
  top: 20%;
}

.about-me{

}

.location{
}

h3 {
  margin-left: 10%;
  font-family: 'Lato', sans-serif;
}

a {
  color: white;
  font-family: 'Lato', sans-serif;
}

hr {
  background-color: red;
  margin-left: 10%;
  margin-right: 10%;

}

h1{
  color: black;
}


h6{
  width: 10%;
}

ul{
  width: 100%;
  margin-top: 5%;
}
.end-of-page {
  background-color: red;
  width: 100%;
  position: absolute;
}

.right-end{
  display: flex;
  width:50%;
  float: right;
}
.made-by{
  margin-top:5%;
  width:100%;
  margin-left: 10%;
  font-family: 'Lato', sans-serif;
}

.about h1{
  font-size: 4rem;
  color: red;
}

.left-end{
  width:50%;
  display: flex;
  float: left;

}
#left-text{
  margin-top:2%;
}

.fa-copyright{
  font-size: 1vw;
  margin-left: 0;
}

#copyright{
margin-left: 0;
font-family: 'Lato', sans-serif;
display: flex;

}
@keyframes fadein {
  from {
    opacity: 1;
  }

  25% {
    opacity: .1;
  }

  50%
  {
    opacity: 1;
  }
  to {
    opacity:1;
  }
}
